:root {
  --backgroundColorMain: #e5e5e5;
  --backgroundColorSecondary: #2f303a;
  --fontColorMain: #000000;
  --fontColorSecondary: #757575;
  --selectionColor: #2196f3;
  --socialsColor: #212121;
  --colorWhite: #ffffff;
  --colorContactLinks: #999999;
  --portfolioButton: #f5f4fa;
  --backgroundBorderBottom: #ececec;
  --backgroundProductCard: #eeeeee;
  --socialIcon: #afb1b8;
}
body {
  background-color: var(--colorWhite);
  font-family: 'Roboto', sans-serif;
  color: var(--socialsColor);
}
img {
  display: block;
}
ul,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-border {
  border-bottom: 1px solid var(--backgroundBorderBottom);
}
.header .container {
  display: flex;
  align-items: center;
}

.web-studio {
  display: block;
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.blue-text {
  color: var(--selectionColor);
}
.white-text {
  color: var(--colorWhite);
}
.black-text {
  color: var(--fontColorMain);
}

.social-links {
  display: flex;
  gap: 46px;
  margin-left: 93px;
  list-style: none;
}
.social-links .link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--socialsColor);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .link:hover,
.social-links .link:focus {
  color: var(--selectionColor);
}
.social-links .current-link {
  color: var(--selectionColor);
}
.social-links .current-link::after {
  content: '';
  display: block;
  position: relative;
  top: 32px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
.contact-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
  list-style: none;
}
.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
  color: var(--selectionColor);
  fill: var(--selectionColor);
}
.contact-list .contact-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--fontColorSecondary);
  fill: var(--fontColorSecondary);
  margin: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  margin-right: 10px;
}

.hero-section {
  padding: 200px 0;
  color: var(--colorWhite);
  background-color: var(--backgroundColorSecondary);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/headerphoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-heading {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  color: var(--colorWhite);
  background-color: var(--selectionColor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  color: var(--fontColorMain);
  background-color: var(--portfolioButton);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding: 94px 0;
}

.icon-top {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.icon-logo {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--portfolioButton);
  border-radius: 4px;
}
.first-paragraph-section {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.paragraph-heading {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--socialsColor);
  margin: 0 0 10px 0;
}
.paragraph-text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
  margin: 0;
}

.secondary-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--socialsColor);
  margin: 0 0 50px 0;
}

.no-padding-top {
  padding-top: 0;
}

.grey-background {
  background-color: var(--portfolioButton);
}
.secondary-heading-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
}
.secondary-heading-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  bottom: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--colorWhite);
  background-color: rgba(47, 48, 58, 0.8);
}
.secondary-heading-link {
  display: block;
  height: 294px;
  text-decoration: none;
}

.third-heading-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.our-team-card {
  background-color: var(--colorWhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--socialsColor);
  margin: 30px 0 10px 0;
}
.job-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
  margin: 0 0 16px 0;
}
.icon-social-list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}
.icon-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--socialIcon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-link:hover,
.icon-social-link:focus {
  background-color: var(--selectionColor);
  fill: var(--colorWhite);
  border-radius: 50%;
  outline: none;
}
.clients-list {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.icon-clients-link {
  display: flex;
  border: 1px solid var(--socialIcon);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--socialIcon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients-link:hover,
.icon-clients-link:focus {
  fill: var(--selectionColor);
  border-color: var(--selectionColor);
}

.footer-background {
  background-color: var(--backgroundColorSecondary);
  padding: 60px 0;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.address-box {
  margin: 20px 0 0 0;
}
.address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colorWhite);
}
.contact-list-footer {
  list-style: none;
}
.contact-link-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--selectionColor);
}
.underline {
  text-decoration: underline;
}
.footer-elements-heading {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--colorWhite);
  letter-spacing: 0.03em;
}
.no-margin {
  margin: 0;
}
.footer-social {
  margin-left: 70px;
  margin-right: 78px;
}
.footer-icon {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--colorWhite);
}
.footer-input {
  color: var(--colorWhite);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--backgroundColorSecondary);
}
.footer-input::placeholder {
  color: var(--colorWhite);
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-label {
  display: inline-block;
  margin-right: 12px;
}
.form-button {
  position: relative;
  padding: 10px 76px 10px 42px;
  color: var(--colorWhite);
  background-color: var(--selectionColor);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.2);
}
.footer-input-icon {
  fill: var(--colorWhite);
  position: absolute;
  left: 148px;
  top: 13px;
  bottom: 13px;
  right: 28px;
}
.portfolio-button {
  background-color: var(--portfolioButton);
  border-radius: 4px;
  border-style: none;
  color: var(--socialsColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--selectionColor);
  color: var(--colorWhite);
}
.image-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--socialsColor);
  margin-bottom: 4px;
}
.image-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
}
.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.products-box {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  background: var(--colorWhite);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-card:hover,
.product-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-card-link {
  text-decoration: none;
}
.cards-border {
  padding: 20px 24px;
  border-left: 1px solid var(--backgroundProductCard);
  border-right: 1px solid var(--backgroundProductCard);
  border-bottom: 1px solid var(--backgroundProductCard);
}
.portfolio-hidden {
  position: relative;
  overflow: hidden;
}
.paragraph-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--colorWhite);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-card-link:hover .paragraph-overlay,
.product-card-link:focus .paragraph-overlay {
  transform: translatey(0);
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 1s;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
}
.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  background-color: var(--colorWhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: var(--fontColorMain);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--colorWhite);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  color: var(--colorWhite);
  background-color: var(--selectionColor);
}
.modal-heading {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--socialsColor);
}
.modal-label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.modal-input-heading {
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--fontColorSecondary);
}
.modal-input {
  display: block;
  margin-top: 4px;
  padding: 0;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--selectionColor);
  outline: none;
}
.modal-input:focus ~ .modal-input-icon,
.modal-input:hover ~ .modal-input-icon {
  fill: var(--selectionColor);
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-feedback {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.modal-textarea {
  display: block;
  resize: none;
  margin-top: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--selectionColor);
  outline: none;
}
.modal-label-checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  margin-left: 15px;
}
.modal-checkbox-input {
  position: absolute;
  opacity: 0;
  height: 15px;
  width: 16px;
  border-radius: 2px;
}
.modal-checkbox-icon {
  position: absolute;
  cursor: pointer;
}
.modal-checkbox-icon-on {
  position: absolute;
  visibility: hidden;
  border-radius: 2px;
  cursor: pointer;
}
.modal-checkbox-input:checked ~ .modal-checkbox-icon-on {
  visibility: visible;
}
.modal-checkbox-text {
  display: block;
  margin-left: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
}
.modal-checkbox-text a {
  color: var(--selectionColor);
}
.modal-button {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
  padding: 10px 76px;
  color: var(--colorWhite);
  background-color: var(--selectionColor);
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  color: var(--fontColorMain);
  background-color: var(--portfolioButton);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
