.clients {
  padding: $section-padding;
}
.clients__heading {
  @include section-heading;
}
.clients__list {
  @include flex-center;
  list-style: none;
  gap: $flex-gap;
  justify-content: center;
}
.clients__link {
  @include flex-center;
  @include item-border($socialIcon);
  border-radius: $itemBorderRadius;
  width: 170px;
  height: 92px;
  justify-content: center;
  fill: $socialIcon;
  transition: border-color $transition-delay, fill $transition-delay;
  &:hover,
  &:focus {
    fill: $selectionColor;
    border-color: $selectionColor;
  }
}
