.header__container {
  @include flex-center;
}
.header__link-logo {
  @include logo;
  display: block;
  margin-right: 93px;
}
.header__logo-blue {
  color: $selectionColor;
}
.header__logo-black {
  color: $fontColorMain;
}
.nav__list {
  gap: $nav-gap;
  display: flex;
  list-style: none;
  .nav__link {
    display: block;
    font-size: $font-default;
    font-weight: $font-thick;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $socialsColor;
    padding: $header-padding;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $selectionColor;
    }
  }
  .nav__link--current {
    color: $selectionColor;
  }
}
.nav__link--current::after {
  content: '';
  display: block;
  position: relative;
  top: 32px;
  height: 4px;
  background: $selectionColor;
  border-radius: 2px;
}

.header__list {
  @include flex-center;
  gap: $flex-gap;
  margin-left: auto;
  list-style: none;
  .header__link {
    @include flex-center;
    font-size: $font-default;
    font-weight: $font-thick;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $fontColorSecondary;
    fill: $fontColorSecondary;
    transition: color $transition-delay, fill $transition-delay;
    &:hover,
    &:focus {
      color: $selectionColor;
      fill: $selectionColor;
    }
  }
}
.header__icon {
  margin-right: $xsmall;
}
