// Color

$backgroundColorMain: #e5e5e5;
$backgroundColorSecondary: #2f303a;
$fontColorMain: #000000;
$fontColorSecondary: #757575;
$selectionColor: #2196f3;
$socialsColor: #212121;
$colorWhite: #ffffff;
$colorContactLinks: #999999;
$portfolioButton: #f5f4fa;
$backgroundBorderBottom: #ececec;
$backgroundProductCard: #eeeeee;
$socialIcon: #afb1b8;

// TextFormat

$logo-font: 'Raleway', sans-serif;
$main-font: 'Roboto', sans-serif;
$font-thick: 500;
$font-bold: 700;
$font-biggest: 900;
$font-default: 14px;
$font-m: 16px;
$font-xl: 36px;
$font-l: 26px;

// Container

$container-width: 1200px;

// Padding/Margin

$section-padding: 94px 0px;
$section-footer: 94px;
$xsmall: 10px;
$small: 20px;
$medium: 30px;
$large: 50px;
$flex-gap: 30px;
$margin-center: 0 auto;

// Transition

$transition-delay: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

// Mixin

@mixin border-thin($borderColor) {
  border-width: 1px;
  border-style: solid;
  border-color: $borderColor;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin button {
  cursor: pointer;
  font-weight: $font-bold;
  font-size: $font-m;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
}
@mixin logo {
  font-family: $logo-font;
  font-size: $font-l;
  font-weight: $font-bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
